In [42]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

global_air_quality

In [43]:
# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

In [44]:
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [46]:
client = bigquery.Client()
query_job = client.query(query)
us_cities = query_job.to_dataframe()

In [48]:
us_cities.city.value_counts().head()

city
Phoenix-Mesa-Scottsdale                     39414
Los Angeles-Long Beach-Santa Ana            27479
Riverside-San Bernardino-Ontario            26887
New York-Northern New Jersey-Long Island    25417
San Francisco-Oakland-Fremont               22710
Name: count, dtype: int64

In [50]:
query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """
query_job = client.query(query)
us_cities = query_job.to_dataframe()
us_cities.city.value_counts().head()

city
Phoenix-Mesa-Scottsdale                     39414
Los Angeles-Long Beach-Santa Ana            27479
Riverside-San Bernardino-Ontario            26887
New York-Northern New Jersey-Long Island    25417
San Francisco-Oakland-Fremont               22710
Name: count, dtype: int64

In [51]:
print(us_cities)

                     location                               city country  \
0        Portland Humboldt Sc       Portland-Vancouver-Beaverton      US
1                E Providence  Providence-New Bedford-Fall River      US
2        Portland Humboldt Sc       Portland-Vancouver-Beaverton      US
3        Portland Humboldt Sc       Portland-Vancouver-Beaverton      US
4        Portland Humboldt Sc       Portland-Vancouver-Beaverton      US
...                       ...                                ...     ...
1421346                 NCORE                    LEWIS AND CLARK      US
1421347                   Ely                               LAKE      US
1421348            Millington                               KENT      US
1421349          BLAIR STREET                          St. Louis      US
1421350              Valdosta                           Valdosta      US

        pollutant  value                 timestamp   unit source_name  \
0              bc   0.16 2022-04-30 14:00:00+00:00  µg/m³      AirNow
1              bc   0.07 2022-05-04 02:00:00+00:00  µg/m³      AirNow
2              bc   0.15 2022-04-30 13:00:00+00:00  µg/m³      AirNow
3              bc   0.04 2022-05-07 10:00:00+00:00  µg/m³      AirNow
4              bc   0.12 2022-05-12 21:00:00+00:00  µg/m³      AirNow
...           ...    ...                       ...    ...         ...
1421346      pm25   1.50 2022-05-24 22:00:00+00:00  µg/m³      AirNow
1421347      pm25   5.00 2022-05-07 13:00:00+00:00  µg/m³      AirNow
1421348      pm25   7.00 2022-05-12 07:00:00+00:00  µg/m³      AirNow
1421349      pm25  -1.60 2022-05-04 02:00:00+00:00  µg/m³      AirNow
1421350      pm25   8.70 2022-05-02 12:00:00+00:00  µg/m³      AirNow

         latitude  longitude  averaged_over_in_hours       location_geom
0             1.0  45.558081             -122.670985  POINT(45.558081 1)
1             1.0  41.840302              -71.361702  POINT(41.840302 1)
2             1.0  45.558081             -122.670985  POINT(45.558081 1)
3             1.0  45.558081             -122.670985  POINT(45.558081 1)
4             1.0  45.558081             -122.670985  POINT(45.558081 1)
...           ...        ...                     ...                 ...
1421346       1.0  46.850500             -111.987164    POINT(46.8505 1)
1421347       1.0  47.946400              -91.495300    POINT(47.9464 1)
1421348       1.0  39.305199              -75.797203  POINT(39.305199 1)
1421349       1.0  38.656449              -90.198548  POINT(38.656449 1)
1421350       1.0  30.848600              -83.293300    POINT(30.8486 1)

[1421351 rows x 12 columns]

In [52]:
# Query to get the score column from every row where the type column has value "job"
query = """
        SELECT score, title
        FROM `bigquery-public-data.hacker_news.full`
        WHERE type = "job" 
        """

# Create a QueryJobConfig object to estimate size of query without running it
dry_run_config = bigquery.QueryJobConfig(dry_run=True)

# API request - dry run query to estimate costs
dry_run_query_job = client.query(query, job_config=dry_run_config)

print("This query will process {} bytes.".format(dry_run_query_job.total_bytes_processed))

This query will process 668545872 bytes.

In [54]:
# Only run the query if it's less than 1 GB
ONE_GB = 1000*1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_GB)

# Set up the query (will only run if it's less than 1 GB)
safe_query_job = client.query(query, job_config=safe_config)

# API request - try to run the query, and return a pandas DataFrame
job_post_scores = safe_query_job.to_dataframe()

# Print average score for job posts
job_post_scores.score.mean()

1.6642651296829971